<%- include('../partials/header') %>
<body>
    <header>
        <h1 id="logo"><a href="/home">to_do</a></h1>
    </header>
    <main>
        <div id="welcome">
            <h3>Hello!!</h3>
            <div id="login-card">
                <form action="/users/login" method="POST">
                    <label>
                        Username:
                        <br>
                        <input type="text" name="username">
                    </label>
                    <br>
                    <label>
                        Password:
                        <br>
                        <input type="password" name="password">
                    </label>
                    <br>
                    <button class="btn btn-light" type="submit">Login</button>
                </form>
            </div>
            <p>... or if you are new here...</p>
            <a href="/users/new_user">Signup</a>
        </div>
    </main> 
</body>   
<%- include('../partials/footer') %>